::selection {
  background: orange;
  color: black;
}

::-webkit-scrollbar {
  background: orange;
  border-radius: 5px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 100px;
  border: 2px solid white;
  cursor: pointer;
}

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

h1 {
  color: orange;
  font-family:'Comic Relief', sans-serif;
  font-weight: 900;
  filter: drop-shadow(0 0 10px orange);
}

textarea {
  width: 1000px;
  height: 550px;
  background: #1a1a1a;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Comic Relief', sans-serif;
  font-size: 20px;
  font-weight: 900;
  filter: drop-shadow(0 0 10px white);
  resize: none;
  transition: 0.4s;
}

textarea:focus {
  background: wheat;
  border: 2px solid wheat;
  color: black;
}

#status {
  margin-top: 10px;
  color: #ff8900;
  font-weight: 900;
  filter: drop-shadow(0 0 10px orange);
  font-family:'Comic Relief', sans-serif;
  font-size: 20px;

}
